@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  @apply bg-white text-black dark:bg-black dark:text-white
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  @apply flex flex-col
}

form label {
  @apply text-sm opacity-80
}

form input {
  @apply p-2.5 mt-2 mb-3 bg-inherit outline outline-1 dark:outline-white/10 dark:focus:outline-blue-500 dark:hover:outline-blue-500 outline-black/10 focus:outline-blue-500 hover:outline-blue-500
}

option {
  @apply dark:bg-black
}
 
form select{
  @apply p-2.5 mt-2 mb-3 bg-inherit outline outline-1 dark:outline-white/10 dark:focus:outline-blue-500 dark:hover:outline-blue-500 outline-black/10 focus:outline-blue-500 hover:outline-blue-500
}

.drawer {
  min-width: 200px;
  @apply absolute bg-white transition-transform duration-300 inset-y-0 right-0 translate-x-full;
}